.hover:hover {
    cursor: pointer;
    background-color: #B0E0E6;
    font-size: 14pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.none{
    background: #F0FFFF;
    border:1px solid #ccc;
    font-size: 12pt;
    font-weight: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.select{
    background: #B0E0E6;
    border: 1px solid #000;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.hoverGrid:hover {
    cursor: pointer;
    background-color: #B0E0E6;
    font-size: 12pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.noneGrid{
    background: #FFF;
    border:1px solid #ccc;
    font-size: 12pt;
    font-weight: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.selectGrid{
    
    background: #B0E0E6;
    border: 1px solid #000;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.headerGrid{
    background: #000000;
    color: #FFF;
}